/*  login page  */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Serif", serif;

    margin: 0;
}

body {
    background-color: #eae7dc !important;
}
/*  sexond  d8c3a5 text -- 8e8d8a   secondry e98074  pri e85a4f*/

 .background{
  background-color: #ebe2da !important;
 }
 .background-secondary{
  background-color: #dac1ab !important;
 }
 .text-color{
  color:   #e0a16a !important;
 }
 .background-dark{
  background-color: #e0a16a !important;
 }
.btn-primary1{
  background-color: #e0a16a  ;
  padding:10px 15px;
  color: #030101;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration:none ;

   
}
/* Add this to your CSS file */
.chart-wrapper {
    width: 35vw !important;
    height: 50vh ; /* Adjust this based on your requirement */
    position: relative;
  }
  
  .responsive-chart {
    width: 100% !important;
    height: 100% !important;
  }
  
  @media (max-width: 768px) {
    .chart-wrapper {
      height: 300px;
      width: 50vw !important;
      /* Adjust height for smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .chart-wrapper {
      height: 250px; /* Further adjust height for extra small screens */
    }
  }

  @media (max-width: 576px) {
    .resetpage {
      margin-top: 50%; /* Further adjust height for extra small screens */
    }
  }
  